# Example environment variables for query_api
PORT=3000
NODE_ENV=development

# Matching related settings
ANN_OVERFETCH_SIZE=500
ANN_RECALL_SIZE=50
TOP_N=5

# Logging settings
LOG_TIMERS=true
LOG_QUERY_METRICS=true
LOG_TAG="query_metric"
LOG_QUERY_AND_EXIT=false

# Connection strings
QDRANT_URL=http://localhost:6333
# QDRANT_API_KEY=
QDRANT_COLLECTION="vision_embeddings"

# Image storage
ARCHETYPE_IMAGES_BASE_URL="https://archetype-images.s3.amazonaws.com/banknotes"
S3_UPLOAD_ENABLED=false
## AWS S3 Credentials (if S3_UPLOAD_ENABLED is true)
AWS_REGION=your_aws_region
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_S3_BUCKET_NAME=your_bucket_name

# Xgboost Head Optimization
APPLY_XGBOOST_OPTIMIZATION=false
XGBOOST_EXTRA_CANDIDATES_SIZE=5
XGBOOST_SCORE_API_URL='http://localhost:5000/score'